{% extends 'base.html' %}
{% block product %}
<h1 class="subtitle is-3 has-text-primary">
    Produtos
</h1>
<div>
    <nav class="navbar breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li class="is-active"><a href="#">Pagina Inicial</a></li>
        </ul>
        <div class="navbar-end">
            <a class="button has-text-primary" href="{% url 'produto:new_produto' %}">
                <span class="icon is-small mr-1">
                    <i class="fa-solid fa-plus"></i>
                </span>
                Novo
            </a>
        </div>
    </nav>
</div>
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Cor</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody> {% for produto in produtos %}<tr>
            <th>{{ produto.id }}</th>
            <td>{{ produto.produto }}</td>
            <td>{{ produto.cor }}</td>
            <td>{{ produto.preco }}</td>
            <td class="is-flex justify-content is-justify-content-space-between">
                {{ produto.quantidade }}
                    <a href="{% url 'produto:update_produto' produto.id%}">
                        <i class="fa-solid fa-pen"></i>
                        Editar
                    </a>
                    <a class ="has-text-danger" href="{% url 'produto:delete_produto' produto.id%}">
                        <i class="fa-solid fa-trash"></i>
                        Remover
                    </a>
            </td>
            <td></td>
        </tr> {% endfor %} </tbody>
</table>
{% endblock %}