{% extends 'base.html' %}
{% block product %}
<h1 class="title">Aplicação</h1>
    <article class="message">
        <div class="message-header">
          <p>Estoque</p>
          <a class="button is-success"  href="{% url 'produto:list_produto' %}">Iniciar</a>
        </div>
        <div class="message-body">
            O Estoque é uma aplicação voltada para o controle e gerenciamento de produtos. Com ela, o usuário pode
            <strong>cadastrar novos itens</strong> com informações como nome, categoria, unidade e preço. Além disso, é possível registrar
            <strong>entradas</strong> de produtos (como compras ou reposições) e <strong>saídas</strong>  (como vendas ou consumo interno). A aplicação atualiza
            automaticamente o saldo em estoque, facilitando o acompanhamento em tempo real. Tudo isso de forma simples,
            organizada e acessível via painel web.
        </div>
      </article>
{% endblock %}